pkgbase = uni-synci-bin
	pkgdesc = Uni-Sync : A Synchronization Tool for Lian Li Fan Controllers
	pkgver = 0.3.1
	pkgrel = 1
	url = https://github.com/EightB1ts/uni-sync.git
	arch = any
	license = MIT
	makedepends = git
	makedepends = rust
	depends = systemd-libs
	depends = libudev0-shim
	depends = hidapi
	depends = libusb
	provides = uni-sync
	source = LICENSE
	source = uni-sync.service
	source = uni-sync.json
	sha256sums = c8fe62ed278d3c8b6e9ab88c9e5b5d8db131a65b2040eb0f6e38e25b8f0fc6c9
	sha256sums = bb8e21acc5c1b38ca120ac355f4cf326a49e31a9f528eed88a302a9ae0a498ee
	sha256sums = 1e905f9eb8f3132833a438a6df1066ee348280d100b07cced8bbb0f594810269

pkgname = uni-synci-bin
